<style media="screen">
    .boton {
        top: 10%;
        left: 0;
        position: fixed;
        margin: none;
    }

    .search {
        position: fixed;

        top: 13%;

        color: white;
        background: #03A8F2;

        width: 80px;
        height: 80px;
        border-radius: 75px;
        float: left;
        cursor: pointer;
    }
    .search:hover {
        background: #614381;

    }

</style>
<p id="notice"><%= notice %></p>

<% @cuenta = Account.find(params[:account_id])%>
<h1>Movimientos de
    <%= @cuenta.name %></h1>
<table class="table table-striped table-hover ">
    <thead class="thead-inverse">
        <tr>
            <th>Concepto de pago</th>
            <th>Referencia</th>
            <th>Fecha</th>
            <th>Mes</th>
            <th>Detalle</th>
            <th>Categoria</th>
            <th>Retiro</th>
            <th>Deposito</th>
            <th>Saldo</th>
            <th></th>
        </tr>
    </thead>
    <%= render "row", movement: :movement  %>
</table>

<br>
<div class="container">
    <div class="boton">
        <!-- <i class="material-icons" style="display: inline-flex; vertical-align: middle;font-size:33px;">note_add</i> -->

        <!-- <div class="search" id="search">

 </div> -->
        <div class="search" id="search">

            <%=link_to 'assignment', new_user_account_movement_path(current_user),remote:true,class:' btn btn_new_mvnt material-icons' ,style:" vertical-align:middle;color:white; font-size:50px; box-shadow:none;;" %>
        </div>
    </div>
</div>
