// Place all the styles related to the movements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
.edition{
	box-shadow: none !important;
	padding: 0!important;
	margin: auto 0;
  margin-top:-3.5em;
	&:nth-child(1){
	margin-right:1em;
	}
}

.modal-dialog{
    width: 85%;
    padding: 0 auto;
    .horizontal{
        position:relative;
        display: inline-block;
        margin-right:1.5em;
    }
}
.btn {
	padding-top: 0;
	padding-bottom: 0;
	align-items: center;
	font-size: 12px;
}
.btn-lg{
	height:2em !important;
	font-size: 15px;
}
thead tr{
	background-color:#DEDEDE;
	th {
		text-align: center;
		font-family: fantasy;
		font-size: 15px;
	}
}
tbody#view{
	tr{
		td {
			text-align: center;
			.add{
				cursor: pointer;
				color:black !important;
				position: absolute;
				margin-top: -.5em;
				opacity: 0;
				.icAdd{
					font-size: 35px !important;
					color:#E2A628 !important;
				}
				.icAdd:hover{
					color:whitesmoke;
					background:dodgerblue!important;
					border-radius:20px;
				}
			}
			.add:hover{
				color:green !important;
			}
		}
		td:nth-child(1){
			text-align: left;
		}
		td:nth-child(7){
			text-align:right;
			font-weight: bold;
			color:red;
		}
		td:nth-child(8){
			text-align:right;
			font-weight: bold;
			color:blue;
		}
	}
	// tr:hover {
	// 	background-color: rgba(93, 179, 161, 0.77)!important;
	// 	color: white;
	// 	font-weight: 500;
	// }
}
tfoot{
	tr{
		background-color: whitesmoke;
		td{
			font-size: 30px;
			font-weight:bold;
			font-family: Serif, Georgia;
			color:black;
		}
	}
	// tr:hover{
	// 	background-color: #EEE;
	// }
}
.btn_new_mvnt {
	align:center;
	padding:15px 15px 15px 15px!important;
}
