<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<footer class="footer">
  <small>
    Sistema Administrativo Contable</a>
    by love to the <i class="material-icons md-18">code</i> Code</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path%></li>
      <li><a href="http://google.com/">News</a></li>
    </ul>
  </nav>
</footer>
